.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  float: none;
  margin: 0 auto;
  padding: 20px;
}

.container form {
  padding: 20px;
  padding-bottom: 60px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fbfbfb;
  margin-top: 30px;
}

.m-20 {
  margin: 20px 0;
}

.posts {
  list-style: decimal;
  width: fit-content;
  margin: 0 auto;
}

.posts li {
  padding: 5px;
}

.so-owner {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fbfbfb;
  padding: 20px;
}

.so-owner .photo-container {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  margin: 0 auto;
}

.so-owner .photo-container img {
  width: 100%;
  height: 100%;
}

.so-owner .owner-name {
  display: block;
  padding: 10px;
  font-size: 16px;
}

.posts-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fbfbfb;
  display: inline-block;
  min-height: 254px;
  padding: 10px;
  margin-left: 10px;
  padding-right: 30px;
  vertical-align: top;
}

.navigation {
  margin: 20px;
  font-size: 16px;
  text-decoration: underline;
}
